body{

font-family: Arial;
background:#f4f6f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:white;
padding:30px;
width:350px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;

}

h1{
margin-bottom:20px;
}

input{

width:90%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;

}

button{

background:#2e86de;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{
background:#1b4f72;
}

.result{

margin-top:20px;
font-weight:bold;

}
